 #text-area{
            background-color: beige;
            height: 200px;
            width: 500px;
            overflow-y: scroll;
        }
 .msg {
            background-color: gray;
            min-width: 200px;
            min-height: 50px;
            margin: 10px;
            word-break: break-all;
 }