{% extends 'main.html' %}
{% block title %}
Смена почты
{% endblock %}
{% block content %}
    <form method="POST" action="">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.email.label }} {{ form.email(class="form-control") }}
            {% for error in form.email.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.old_password.label }} {{ form.old_password(class="form-control") }}
            {% for error in form.old_password.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.new_password1.label }} {{ form.new_password1(class="form-control") }}
            {% for error in form.new_password1.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.new_password2.label }} {{ form.new_password2(class="form-control") }}
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
{% endblock %}