{% extends 'main.html' %}

{% block title %}
Создать объявление
{% endblock %}
{%  block style %}
{%  endblock %}
{% block content %}
       <form method="POST" action="{{ url_for('signup') }}">
        {{ form.csrf_token }}
        {{ form.submit(class="btn btn-primary") }}
    </form>
{% endblock %}
