{% extends 'main.html' %}

{% block title %}

{% endblock %}
{%  block style %}
        <link href="{{ 'static/styles/detail.css' }}" rel="stylesheet" type="text/css">
{%  endblock %}
{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% if user.id == ad.creator_id %}
<div class="form-group">
        <button type="submit" class="btn btn-primary"><a href="{{ url_for('ad_delete',ad_id = ad.id) }}">Удалить</a></button>
    </div>
<div class="form-group">
        <button type="submit" class="btn btn-primary"><a href="{{ url_for('ad_edit',ad_id=ad.id) }}">Редактировать</a></button>
    </div>
    {% if ad['preordered'] %}
        <div class="form-group">
        <button type="submit" class="btn btn-primary"><a href="{{ url_for('cancel_preorder',ad_id=ad.id) }}">Отменить предзаказ</a></button>
        </div>
    {% endif %}
{% else %}
        <button type="submit" class="btn btn-primary"><a href="{{ url_for('ad_preorder',ad_id=ad.id) }}">Оформить предзаказ</a></button>
    <button type="submit" class="btn btn-primary"><a href="{{ url_for('ad_like',ad_id=ad.id) }}">Добавить в избранное</a></button>
    <button type="submit" class="btn btn-primary"><a href="{{ url_for('ad_buy',ad_id=ad.id) }}">Купить</a></button>
{% endif %}
    <h2>{{ ad['name'] }}</h2>
    <img src="{{ '/' + ad.path }}" id="photo" alt="" width="200px" height="200px">
    <div>Дата создания:{{ad.uploaded}}</div>
    <div>Описание:{{ad.description}}</div>
    <div>Цена:{{ad.price}}</div>
    <div id="text-area">

    </div>
    <input id="msg" placeholder="Введите текст">
    <button id="submit">Submit</button>
    <script>
    $(document).ready(function () {
    let socket = io();
    let user = ' ';
    socket.on('connect', function () {
            socket.emit('connect', {'ad':{{ad.id}}})
        });
    socket.on('recv', function (data) {
        const area = $('#text-area');
        var today = new Date()
        var now = today.toLocaleString()
        user === data.user ? area.append(`<div style='text-align: right' class='msg'><p>${now}</p>${data.msg}</div>`):area.append(`<div class='msg'><p>${data.user} ${now}</p>${data.msg}</div>`)});
    socket.on('history', function (data) {
        const area = $('#text-area');
        for (let ind = 0; ind < data.length; ind++) {
        area.append(`<div class='msg'><p>${data[ind][1]}${data[ind][2]}</p>${data[ind][0]}</div>`)}
    });
    $('#submit').click(function () {
        const field = $('#msg');
        let msg = field.val();
        socket.emit('my_event', {'msg': msg, 'ad': {{ad.id}}})
        field.val('')})
})
    </script>
{% endblock %}